<%- include("partials/adminHeader.ejs") -%>
    <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <h2 class="tm-block-title">Orders List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">DAY</th>
                        <th scope="col">Total Order</th>
                        <th scope="col">Total Product</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Profit</th>

                    </tr>
                </thead>
                <tbody>


               <% for( let i = 0; i < dailyReports.length; i++ ) { %>
                <tr>
                    <th scope="row">
                     <%=dailyReports[i]._id.year%> / <%=dailyReports[i]._id.month%>/<%=dailyReports[i]._id.day%>
                    </th>

                    <td>
                     <%=dailyReports[i].count %> 

                    </td>

        
                    <td><b>
                        <%=dailyReports[i].products %> 
                        </b></td>
                    <td>
                        <%=dailyReports[i].totalprice %> 
                    </td>

                    <td>
                        <%=dailyReports[i].totalprice*(15/100) %> 
                    </td>



                </tr>
               <% } %>

                   

                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <script>
        function generatePdf(){
          const element=document.getElementById("invoice");
          html2pdf().from(element).save()
        }
      </script>
      
    <%- include("partials/adminFooter.ejs") -%>