<%- include("partials/userHeader.ejs")-%>

	<!-- Cart -->
	


	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140  m-5">
		<div class="container mt-5">
			<div class="flex-w flex-sb-m p-b-52  mt-5">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10 m-5">
					<a href="/displayProduct?cat=all">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 " data-filter="*">
							All PRODUCTS
						</button>
					</a>
					<% for( let i=0; i<categoryList.length; i++) {%>

						<a class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
							href="/displayProduct?men=<%=categoryList[i]._id -%> ">
							<%=categoryList[i].name -%>
						</a>





						<% } %>




				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<!-- <div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div> -->

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text"   onkeyup="search(this)" name="search-product"
							placeholder="Search" id="search">
					</div>
					<div id="searchedData">

					</div>
				</div>

				<!-- Filter -->
				
			</div>

			<div class="row isotope-grid">
				<% for( let i=0; i< shop.length; i++ ) { %>
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->



						<div class="block2">
							<div class="block2-pic hov-img0">

								<img src="<%=shop[i].image[0] %> " alt="IMG-PRODUCT">

								<a href="/productDetail?cat=<%=shop[i]._id-%>" 
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
									Quick View
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/productDetail?cat=<%=shop[i]._id-%>" 
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										<%=shop[i].discription %>
									</a>

									<span class="stext-105 cl3">
										₹<%=shop[i].price %>
									</span>-
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a  onclick="addWishlist(`<%=shop[i]._id-%>`)"
										class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04"
											src="/user/userhome/images/icons/icon-heart-01.png" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l"
											src="/user/userhome/images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>

						</div>


					</div>
					<% } %>
				</div>
             
			</div>



			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="/displayProductDetail"
					class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>

		</div>
	</div>
	<script>
function search(data){
 
  const searchDiv=document.getElementById("searchedData")
  const searchData=data.value.toString()
  const searchValue=searchData.match(/^[a-zA-z ]*/)
  const searchValue2=searchData.match(/\s*/)
  console.log(searchValue[0]);
  if (searchValue2[0]==searchData) {
	searchDiv.innerHTML="<p>Sorry.......Nothing Found.</p>"
  }
  else if(searchValue[0]==searchData){
        $.ajax({
			url:"/search",
			method:"post",
			data:{value:searchData},
			success:((res)=>{
				console.log(111111111111111);
				if(res.status){
					console.log(res.searchProducts);
					console.log(111111111111111);
					if(res.searchProducts.length>0){
						res.searchProducts.forEach(element => {
						document.getElementById("searchedData").innerHTML+=`<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->



						<div class="block2">
							<div class="block2-pic hov-img0">

								<img src="${element.image[0]}" alt="IMG-PRODUCT">

								<a href="/productDetail?cat=${element._id}" 
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
									Quick View
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/productDetail?cat=${element._id}" 
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										${element.discription}
									</a>

									<span class="stext-105 cl3">
										$${element.price}
									</span>-
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a  onclick="addWishlist('${element._id}')"
										class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04"
											src="/user/userhome/images/icons/icon-heart-01.png" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l"
											src="/user/userhome/images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>

						</div>


					</div>`
					});}
					else{
						document.getElementById("searchedData").innerHTML="No products"
					}
				}
			})
		})
  }


}



  function addWishlist(productID){
     $.ajax({
        url:`/addWishlist?prdctID=${productID}`,
		method: "post",
		success:((res)=>{
			
		})

	 })

  }
   
	</script>
	
<%- include("partials/userFooter.ejs")-%>